<h2>Conversation w/ <%= @conversation.contacts.first.name %>&nbsp;&lt;<%= @conversation.contacts.first.email %>&gt;</h2> 
<p><%= link_to "Show all conversations", admin_conversations_path %></p>
<h2>RE: <%= @conversation.topic.name %></h2>
<div class="adr">
  <h4><%= t("details") %></h4>
  <p>
    Name: <%= @conversation.contacts.first.name %><br />
    Email: <%= @conversation.contacts.first.email %><br />
    Phone: <%= @conversation.contacts.first.telephone %><br />
    Order Number: <%= @conversation.contacts.first.order_number ? @conversation.contacts.first.order_number : 'None' %>
  </p>
  <h4><%= t("status") %></h4>
  <% unless @conversation.status == "closed" %> 
      <%=  form_tag complete_admin_conversation_path do %>
        <%= hidden_field_tag :conversation_id, @conversation.id %>
        <%= submit_tag "Complete" %>
      <% end %>
  <% end %>
  <p><strong><%= @conversation.status.capitalize %></strong> @ <%= @conversation.contacts.first.updated_at.strftime("%b %e, %Y %H:%M %z") %></p>
</div> 
<div style="clear:both;">
<%= render :partial => 'contact', :collection =>  @conversation.contacts %>
</div>
<div style="clear:both;">
<%= render :partial => "new_contact", :locals => { :contact => @conversation.contacts.build } %>
</div>