<%- locals = {:f => f} %>

<%= render "shared/error_messages", :target => f.object %>

<%= hook :admin_feedback_config_form, locals do %>

  <%= f.field_container :auto_response_email_subject do %>
    <%= f.label :auto_response_email_subject, t("auto_response_email_subject") %> <span class="required">*</span><br />
    <%= f.text_field :auto_response_email_subject, :class => 'fullwidth title'  %>  
    <%= f.error_message_on :auto_response_email_subject %>
  <% end %>

  <%= f.field_container :auto_response_email_reply_to do %>
    <%= f.label :auto_response_email_reply_to, t("auto_response_email_reply_to") %> <span class="required">*</span><br />
    <%= f.text_field :auto_response_email_reply_to, :class => 'fullwidth title'  %>  
    <%= f.error_message_on :auto_response_email_reply_to %>
  <% end %>
  
  <%= f.field_container :auto_response_email_body_html do %>
    <%= f.label :auto_response_email_body_html, t("auto_response_email_body_html") %> <span class="required">*</span><br />
    <%= f.text_field :auto_response_email_body_html, :class => 'fullwidth title'  %>  
    <%= f.error_message_on :auto_response_email_body_html %>
  <% end %>
  
  <%= f.field_container :auto_response_email_body_text do %>
    <%= f.label :auto_response_email_body_text, t("auto_response_email_body_text") %><br />
    <%= f.text_field :auto_response_email_body_text, :class => 'fullwidth title'  %>  
    <%= f.error_message_on :auto_response_email_body_text %>
  <% end %>

<% end %>